# rank,host_name,host_iface0,router_iface0,host_iface1,router_iface1,host_ip
0,host1,host1-eth0,ra0-h1s0,host1-eth1,ra0-h1s1,10.0.0.1
1,host2,host2-eth0,ra0-h2s0,host2-eth1,ra0-h2s1,10.0.0.2
2,host3,host3-eth0,ra1-h3s0,host3-eth1,ra1-h3s1,10.0.0.3
3,host4,host4-eth0,ra1-h4s0,host4-eth1,ra1-h4s1,10.0.0.4
