# rank,host_name,host_iface0,router_iface0,host_iface1,router_iface1,host_ip
0,host1,host1-eth0,rll-h1s0,host1-eth1,rll-h1s1,10.3.0.1
1,host2,host2-eth0,rll-h2s0,host2-eth1,rll-h2s1,10.3.0.2
2,host3,host3-eth0,rlr-h3s0,host3-eth1,rlr-h3s1,10.3.0.3
3,host4,host4-eth0,rlr-h4s0,host4-eth1,rlr-h4s1,10.3.0.4
4,host5,host5-eth0,rrl-h5s0,host5-eth1,rrl-h5s1,10.3.0.5
5,host6,host6-eth0,rrl-h6s0,host6-eth1,rrl-h6s1,10.3.0.6
6,host7,host7-eth0,rrr-h7s0,host7-eth1,rrr-h7s1,10.3.0.7
7,host8,host8-eth0,rrr-h8s0,host8-eth1,rrr-h8s1,10.3.0.8
