# Generated three-level complete binary tree configuration.
dev,router-root,r0-l-down
dev,router-root,r0-l-up
dev,router-root,r0-r-down
dev,router-root,r0-r-up
dev,router-l,rl-up
dev,router-l,rl-down
dev,router-l,rl-ll-down
dev,router-l,rl-ll-up
dev,router-l,rl-lr-down
dev,router-l,rl-lr-up
dev,router-r,rr-up
dev,router-r,rr-down
dev,router-r,rr-rl-down
dev,router-r,rr-rl-up
dev,router-r,rr-rr-down
dev,router-r,rr-rr-up
dev,router-ll,rll-up
dev,router-ll,rll-down
dev,router-ll,rll-h1s0
dev,router-ll,rll-h1s1
dev,router-ll,rll-h2s0
dev,router-ll,rll-h2s1
dev,router-lr,rlr-up
dev,router-lr,rlr-down
dev,router-lr,rlr-h3s0
dev,router-lr,rlr-h3s1
dev,router-lr,rlr-h4s0
dev,router-lr,rlr-h4s1
dev,router-rl,rrl-up
dev,router-rl,rrl-down
dev,router-rl,rrl-h5s0
dev,router-rl,rrl-h5s1
dev,router-rl,rrl-h6s0
dev,router-rl,rrl-h6s1
dev,router-rr,rrr-up
dev,router-rr,rrr-down
dev,router-rr,rrr-h7s0
dev,router-rr,rrr-h7s1
dev,router-rr,rrr-h8s0
dev,router-rr,rrr-h8s1
route,router-root,0,0,r0-l-down
route,router-root,0,1,r0-l-down
tree,router-root,0,0,LEVEL,r0-l-up,r0-l-down
tree,router-root,0,1,LEVEL,r0-l-up,r0-l-down
mcast,router-root,0,0,r0-l-up
mcast,router-root,0,0,r0-r-up
mcast,router-root,0,1,r0-l-up
mcast,router-root,0,1,r0-r-up
route,router-root,1,0,r0-l-down
route,router-root,1,1,r0-l-down
tree,router-root,1,0,LEVEL,r0-l-up,r0-l-down
tree,router-root,1,1,LEVEL,r0-l-up,r0-l-down
mcast,router-root,1,0,r0-l-up
mcast,router-root,1,0,r0-r-up
mcast,router-root,1,1,r0-l-up
mcast,router-root,1,1,r0-r-up
route,router-root,2,0,r0-l-down
route,router-root,2,1,r0-l-down
tree,router-root,2,0,LEVEL,r0-l-up,r0-l-down
tree,router-root,2,1,LEVEL,r0-l-up,r0-l-down
mcast,router-root,2,0,r0-l-up
mcast,router-root,2,0,r0-r-up
mcast,router-root,2,1,r0-l-up
mcast,router-root,2,1,r0-r-up
route,router-root,3,0,r0-l-down
route,router-root,3,1,r0-l-down
tree,router-root,3,0,LEVEL,r0-l-up,r0-l-down
tree,router-root,3,1,LEVEL,r0-l-up,r0-l-down
mcast,router-root,3,0,r0-l-up
mcast,router-root,3,0,r0-r-up
mcast,router-root,3,1,r0-l-up
mcast,router-root,3,1,r0-r-up
route,router-root,4,0,r0-r-down
route,router-root,4,1,r0-r-down
tree,router-root,4,0,LEVEL,r0-r-up,r0-r-down
tree,router-root,4,1,LEVEL,r0-r-up,r0-r-down
mcast,router-root,4,0,r0-l-up
mcast,router-root,4,0,r0-r-up
mcast,router-root,4,1,r0-l-up
mcast,router-root,4,1,r0-r-up
route,router-root,5,0,r0-r-down
route,router-root,5,1,r0-r-down
tree,router-root,5,0,LEVEL,r0-r-up,r0-r-down
tree,router-root,5,1,LEVEL,r0-r-up,r0-r-down
mcast,router-root,5,0,r0-l-up
mcast,router-root,5,0,r0-r-up
mcast,router-root,5,1,r0-l-up
mcast,router-root,5,1,r0-r-up
route,router-root,6,0,r0-r-down
route,router-root,6,1,r0-r-down
tree,router-root,6,0,LEVEL,r0-r-up,r0-r-down
tree,router-root,6,1,LEVEL,r0-r-up,r0-r-down
mcast,router-root,6,0,r0-l-up
mcast,router-root,6,0,r0-r-up
mcast,router-root,6,1,r0-l-up
mcast,router-root,6,1,r0-r-up
route,router-root,7,0,r0-r-down
route,router-root,7,1,r0-r-down
tree,router-root,7,0,LEVEL,r0-r-up,r0-r-down
tree,router-root,7,1,LEVEL,r0-r-up,r0-r-down
mcast,router-root,7,0,r0-l-up
mcast,router-root,7,0,r0-r-up
mcast,router-root,7,1,r0-l-up
mcast,router-root,7,1,r0-r-up
route,router-l,0,0,rl-ll-down
route,router-l,0,1,rl-ll-down
tree,router-l,0,0,LEVEL,rl-up,rl-down
tree,router-l,0,1,LEVEL,rl-up,rl-down
mcast,router-l,0,0,rl-ll-down
mcast,router-l,0,0,rl-lr-down
mcast,router-l,0,1,rl-ll-down
mcast,router-l,0,1,rl-lr-down
route,router-l,1,0,rl-ll-down
route,router-l,1,1,rl-ll-down
tree,router-l,1,0,LEVEL,rl-up,rl-down
tree,router-l,1,1,LEVEL,rl-up,rl-down
mcast,router-l,1,0,rl-ll-down
mcast,router-l,1,0,rl-lr-down
mcast,router-l,1,1,rl-ll-down
mcast,router-l,1,1,rl-lr-down
route,router-l,2,0,rl-lr-down
route,router-l,2,1,rl-lr-down
tree,router-l,2,0,LEVEL,rl-up,rl-down
tree,router-l,2,1,LEVEL,rl-up,rl-down
mcast,router-l,2,0,rl-ll-down
mcast,router-l,2,0,rl-lr-down
mcast,router-l,2,1,rl-ll-down
mcast,router-l,2,1,rl-lr-down
route,router-l,3,0,rl-lr-down
route,router-l,3,1,rl-lr-down
tree,router-l,3,0,LEVEL,rl-up,rl-down
tree,router-l,3,1,LEVEL,rl-up,rl-down
mcast,router-l,3,0,rl-ll-down
mcast,router-l,3,0,rl-lr-down
mcast,router-l,3,1,rl-ll-down
mcast,router-l,3,1,rl-lr-down
route,router-l,4,0,rl-up
route,router-l,4,1,rl-up
tree,router-l,4,0,LEVEL,rl-up,rl-down
tree,router-l,4,1,LEVEL,rl-up,rl-down
mcast,router-l,4,0,rl-ll-down
mcast,router-l,4,0,rl-lr-down
mcast,router-l,4,1,rl-ll-down
mcast,router-l,4,1,rl-lr-down
route,router-l,5,0,rl-up
route,router-l,5,1,rl-up
tree,router-l,5,0,LEVEL,rl-up,rl-down
tree,router-l,5,1,LEVEL,rl-up,rl-down
mcast,router-l,5,0,rl-ll-down
mcast,router-l,5,0,rl-lr-down
mcast,router-l,5,1,rl-ll-down
mcast,router-l,5,1,rl-lr-down
route,router-l,6,0,rl-up
route,router-l,6,1,rl-up
tree,router-l,6,0,LEVEL,rl-up,rl-down
tree,router-l,6,1,LEVEL,rl-up,rl-down
mcast,router-l,6,0,rl-ll-down
mcast,router-l,6,0,rl-lr-down
mcast,router-l,6,1,rl-ll-down
mcast,router-l,6,1,rl-lr-down
route,router-l,7,0,rl-up
route,router-l,7,1,rl-up
tree,router-l,7,0,LEVEL,rl-up,rl-down
tree,router-l,7,1,LEVEL,rl-up,rl-down
mcast,router-l,7,0,rl-ll-down
mcast,router-l,7,0,rl-lr-down
mcast,router-l,7,1,rl-ll-down
mcast,router-l,7,1,rl-lr-down
route,router-r,0,0,rr-up
route,router-r,0,1,rr-up
tree,router-r,0,0,LEVEL,rr-up,rr-down
tree,router-r,0,1,LEVEL,rr-up,rr-down
mcast,router-r,0,0,rr-rl-down
mcast,router-r,0,0,rr-rr-down
mcast,router-r,0,1,rr-rl-down
mcast,router-r,0,1,rr-rr-down
route,router-r,1,0,rr-up
route,router-r,1,1,rr-up
tree,router-r,1,0,LEVEL,rr-up,rr-down
tree,router-r,1,1,LEVEL,rr-up,rr-down
mcast,router-r,1,0,rr-rl-down
mcast,router-r,1,0,rr-rr-down
mcast,router-r,1,1,rr-rl-down
mcast,router-r,1,1,rr-rr-down
route,router-r,2,0,rr-up
route,router-r,2,1,rr-up
tree,router-r,2,0,LEVEL,rr-up,rr-down
tree,router-r,2,1,LEVEL,rr-up,rr-down
mcast,router-r,2,0,rr-rl-down
mcast,router-r,2,0,rr-rr-down
mcast,router-r,2,1,rr-rl-down
mcast,router-r,2,1,rr-rr-down
route,router-r,3,0,rr-up
route,router-r,3,1,rr-up
tree,router-r,3,0,LEVEL,rr-up,rr-down
tree,router-r,3,1,LEVEL,rr-up,rr-down
mcast,router-r,3,0,rr-rl-down
mcast,router-r,3,0,rr-rr-down
mcast,router-r,3,1,rr-rl-down
mcast,router-r,3,1,rr-rr-down
route,router-r,4,0,rr-rl-down
route,router-r,4,1,rr-rl-down
tree,router-r,4,0,LEVEL,rr-up,rr-down
tree,router-r,4,1,LEVEL,rr-up,rr-down
mcast,router-r,4,0,rr-rl-down
mcast,router-r,4,0,rr-rr-down
mcast,router-r,4,1,rr-rl-down
mcast,router-r,4,1,rr-rr-down
route,router-r,5,0,rr-rl-down
route,router-r,5,1,rr-rl-down
tree,router-r,5,0,LEVEL,rr-up,rr-down
tree,router-r,5,1,LEVEL,rr-up,rr-down
mcast,router-r,5,0,rr-rl-down
mcast,router-r,5,0,rr-rr-down
mcast,router-r,5,1,rr-rl-down
mcast,router-r,5,1,rr-rr-down
route,router-r,6,0,rr-rr-down
route,router-r,6,1,rr-rr-down
tree,router-r,6,0,LEVEL,rr-up,rr-down
tree,router-r,6,1,LEVEL,rr-up,rr-down
mcast,router-r,6,0,rr-rl-down
mcast,router-r,6,0,rr-rr-down
mcast,router-r,6,1,rr-rl-down
mcast,router-r,6,1,rr-rr-down
route,router-r,7,0,rr-rr-down
route,router-r,7,1,rr-rr-down
tree,router-r,7,0,LEVEL,rr-up,rr-down
tree,router-r,7,1,LEVEL,rr-up,rr-down
mcast,router-r,7,0,rr-rl-down
mcast,router-r,7,0,rr-rr-down
mcast,router-r,7,1,rr-rl-down
mcast,router-r,7,1,rr-rr-down
route,router-ll,0,0,rll-h1s0
route,router-ll,0,1,rll-h1s1
tree,router-ll,0,0,LEVEL,rll-down,rll-up
tree,router-ll,0,1,LEVEL,rll-down,rll-up
mcast,router-ll,0,0,rll-h2s0
mcast,router-ll,0,1,rll-h2s1
route,router-ll,1,0,rll-h2s0
route,router-ll,1,1,rll-h2s1
tree,router-ll,1,0,LEVEL,rll-down,rll-up
tree,router-ll,1,1,LEVEL,rll-down,rll-up
mcast,router-ll,1,0,rll-h1s0
mcast,router-ll,1,1,rll-h1s1
route,router-ll,2,0,rll-down
route,router-ll,2,1,rll-down
tree,router-ll,2,0,LEVEL,rll-down,rll-up
tree,router-ll,2,1,LEVEL,rll-down,rll-up
mcast,router-ll,2,0,rll-h1s0
mcast,router-ll,2,0,rll-h2s0
mcast,router-ll,2,1,rll-h1s1
mcast,router-ll,2,1,rll-h2s1
route,router-ll,3,0,rll-down
route,router-ll,3,1,rll-down
tree,router-ll,3,0,LEVEL,rll-down,rll-up
tree,router-ll,3,1,LEVEL,rll-down,rll-up
mcast,router-ll,3,0,rll-h1s0
mcast,router-ll,3,0,rll-h2s0
mcast,router-ll,3,1,rll-h1s1
mcast,router-ll,3,1,rll-h2s1
route,router-ll,4,0,rll-down
route,router-ll,4,1,rll-down
tree,router-ll,4,0,LEVEL,rll-down,rll-up
tree,router-ll,4,1,LEVEL,rll-down,rll-up
mcast,router-ll,4,0,rll-h1s0
mcast,router-ll,4,0,rll-h2s0
mcast,router-ll,4,1,rll-h1s1
mcast,router-ll,4,1,rll-h2s1
route,router-ll,5,0,rll-down
route,router-ll,5,1,rll-down
tree,router-ll,5,0,LEVEL,rll-down,rll-up
tree,router-ll,5,1,LEVEL,rll-down,rll-up
mcast,router-ll,5,0,rll-h1s0
mcast,router-ll,5,0,rll-h2s0
mcast,router-ll,5,1,rll-h1s1
mcast,router-ll,5,1,rll-h2s1
route,router-ll,6,0,rll-down
route,router-ll,6,1,rll-down
tree,router-ll,6,0,LEVEL,rll-down,rll-up
tree,router-ll,6,1,LEVEL,rll-down,rll-up
mcast,router-ll,6,0,rll-h1s0
mcast,router-ll,6,0,rll-h2s0
mcast,router-ll,6,1,rll-h1s1
mcast,router-ll,6,1,rll-h2s1
route,router-ll,7,0,rll-down
route,router-ll,7,1,rll-down
tree,router-ll,7,0,LEVEL,rll-down,rll-up
tree,router-ll,7,1,LEVEL,rll-down,rll-up
mcast,router-ll,7,0,rll-h1s0
mcast,router-ll,7,0,rll-h2s0
mcast,router-ll,7,1,rll-h1s1
mcast,router-ll,7,1,rll-h2s1
route,router-lr,0,0,rlr-down
route,router-lr,0,1,rlr-down
tree,router-lr,0,0,LEVEL,rlr-down,rlr-up
tree,router-lr,0,1,LEVEL,rlr-down,rlr-up
mcast,router-lr,0,0,rlr-h3s0
mcast,router-lr,0,0,rlr-h4s0
mcast,router-lr,0,1,rlr-h3s1
mcast,router-lr,0,1,rlr-h4s1
route,router-lr,1,0,rlr-down
route,router-lr,1,1,rlr-down
tree,router-lr,1,0,LEVEL,rlr-down,rlr-up
tree,router-lr,1,1,LEVEL,rlr-down,rlr-up
mcast,router-lr,1,0,rlr-h3s0
mcast,router-lr,1,0,rlr-h4s0
mcast,router-lr,1,1,rlr-h3s1
mcast,router-lr,1,1,rlr-h4s1
route,router-lr,2,0,rlr-h3s0
route,router-lr,2,1,rlr-h3s1
tree,router-lr,2,0,LEVEL,rlr-down,rlr-up
tree,router-lr,2,1,LEVEL,rlr-down,rlr-up
mcast,router-lr,2,0,rlr-h4s0
mcast,router-lr,2,1,rlr-h4s1
route,router-lr,3,0,rlr-h4s0
route,router-lr,3,1,rlr-h4s1
tree,router-lr,3,0,LEVEL,rlr-down,rlr-up
tree,router-lr,3,1,LEVEL,rlr-down,rlr-up
mcast,router-lr,3,0,rlr-h3s0
mcast,router-lr,3,1,rlr-h3s1
route,router-lr,4,0,rlr-down
route,router-lr,4,1,rlr-down
tree,router-lr,4,0,LEVEL,rlr-down,rlr-up
tree,router-lr,4,1,LEVEL,rlr-down,rlr-up
mcast,router-lr,4,0,rlr-h3s0
mcast,router-lr,4,0,rlr-h4s0
mcast,router-lr,4,1,rlr-h3s1
mcast,router-lr,4,1,rlr-h4s1
route,router-lr,5,0,rlr-down
route,router-lr,5,1,rlr-down
tree,router-lr,5,0,LEVEL,rlr-down,rlr-up
tree,router-lr,5,1,LEVEL,rlr-down,rlr-up
mcast,router-lr,5,0,rlr-h3s0
mcast,router-lr,5,0,rlr-h4s0
mcast,router-lr,5,1,rlr-h3s1
mcast,router-lr,5,1,rlr-h4s1
route,router-lr,6,0,rlr-down
route,router-lr,6,1,rlr-down
tree,router-lr,6,0,LEVEL,rlr-down,rlr-up
tree,router-lr,6,1,LEVEL,rlr-down,rlr-up
mcast,router-lr,6,0,rlr-h3s0
mcast,router-lr,6,0,rlr-h4s0
mcast,router-lr,6,1,rlr-h3s1
mcast,router-lr,6,1,rlr-h4s1
route,router-lr,7,0,rlr-down
route,router-lr,7,1,rlr-down
tree,router-lr,7,0,LEVEL,rlr-down,rlr-up
tree,router-lr,7,1,LEVEL,rlr-down,rlr-up
mcast,router-lr,7,0,rlr-h3s0
mcast,router-lr,7,0,rlr-h4s0
mcast,router-lr,7,1,rlr-h3s1
mcast,router-lr,7,1,rlr-h4s1
route,router-rl,0,0,rrl-down
route,router-rl,0,1,rrl-down
tree,router-rl,0,0,LEVEL,rrl-down,rrl-up
tree,router-rl,0,1,LEVEL,rrl-down,rrl-up
mcast,router-rl,0,0,rrl-h5s0
mcast,router-rl,0,0,rrl-h6s0
mcast,router-rl,0,1,rrl-h5s1
mcast,router-rl,0,1,rrl-h6s1
route,router-rl,1,0,rrl-down
route,router-rl,1,1,rrl-down
tree,router-rl,1,0,LEVEL,rrl-down,rrl-up
tree,router-rl,1,1,LEVEL,rrl-down,rrl-up
mcast,router-rl,1,0,rrl-h5s0
mcast,router-rl,1,0,rrl-h6s0
mcast,router-rl,1,1,rrl-h5s1
mcast,router-rl,1,1,rrl-h6s1
route,router-rl,2,0,rrl-down
route,router-rl,2,1,rrl-down
tree,router-rl,2,0,LEVEL,rrl-down,rrl-up
tree,router-rl,2,1,LEVEL,rrl-down,rrl-up
mcast,router-rl,2,0,rrl-h5s0
mcast,router-rl,2,0,rrl-h6s0
mcast,router-rl,2,1,rrl-h5s1
mcast,router-rl,2,1,rrl-h6s1
route,router-rl,3,0,rrl-down
route,router-rl,3,1,rrl-down
tree,router-rl,3,0,LEVEL,rrl-down,rrl-up
tree,router-rl,3,1,LEVEL,rrl-down,rrl-up
mcast,router-rl,3,0,rrl-h5s0
mcast,router-rl,3,0,rrl-h6s0
mcast,router-rl,3,1,rrl-h5s1
mcast,router-rl,3,1,rrl-h6s1
route,router-rl,4,0,rrl-h5s0
route,router-rl,4,1,rrl-h5s1
tree,router-rl,4,0,LEVEL,rrl-down,rrl-up
tree,router-rl,4,1,LEVEL,rrl-down,rrl-up
mcast,router-rl,4,0,rrl-h6s0
mcast,router-rl,4,1,rrl-h6s1
route,router-rl,5,0,rrl-h6s0
route,router-rl,5,1,rrl-h6s1
tree,router-rl,5,0,LEVEL,rrl-down,rrl-up
tree,router-rl,5,1,LEVEL,rrl-down,rrl-up
mcast,router-rl,5,0,rrl-h5s0
mcast,router-rl,5,1,rrl-h5s1
route,router-rl,6,0,rrl-down
route,router-rl,6,1,rrl-down
tree,router-rl,6,0,LEVEL,rrl-down,rrl-up
tree,router-rl,6,1,LEVEL,rrl-down,rrl-up
mcast,router-rl,6,0,rrl-h5s0
mcast,router-rl,6,0,rrl-h6s0
mcast,router-rl,6,1,rrl-h5s1
mcast,router-rl,6,1,rrl-h6s1
route,router-rl,7,0,rrl-down
route,router-rl,7,1,rrl-down
tree,router-rl,7,0,LEVEL,rrl-down,rrl-up
tree,router-rl,7,1,LEVEL,rrl-down,rrl-up
mcast,router-rl,7,0,rrl-h5s0
mcast,router-rl,7,0,rrl-h6s0
mcast,router-rl,7,1,rrl-h5s1
mcast,router-rl,7,1,rrl-h6s1
route,router-rr,0,0,rrr-down
route,router-rr,0,1,rrr-down
tree,router-rr,0,0,LEVEL,rrr-down,rrr-up
tree,router-rr,0,1,LEVEL,rrr-down,rrr-up
mcast,router-rr,0,0,rrr-h7s0
mcast,router-rr,0,0,rrr-h8s0
mcast,router-rr,0,1,rrr-h7s1
mcast,router-rr,0,1,rrr-h8s1
route,router-rr,1,0,rrr-down
route,router-rr,1,1,rrr-down
tree,router-rr,1,0,LEVEL,rrr-down,rrr-up
tree,router-rr,1,1,LEVEL,rrr-down,rrr-up
mcast,router-rr,1,0,rrr-h7s0
mcast,router-rr,1,0,rrr-h8s0
mcast,router-rr,1,1,rrr-h7s1
mcast,router-rr,1,1,rrr-h8s1
route,router-rr,2,0,rrr-down
route,router-rr,2,1,rrr-down
tree,router-rr,2,0,LEVEL,rrr-down,rrr-up
tree,router-rr,2,1,LEVEL,rrr-down,rrr-up
mcast,router-rr,2,0,rrr-h7s0
mcast,router-rr,2,0,rrr-h8s0
mcast,router-rr,2,1,rrr-h7s1
mcast,router-rr,2,1,rrr-h8s1
route,router-rr,3,0,rrr-down
route,router-rr,3,1,rrr-down
tree,router-rr,3,0,LEVEL,rrr-down,rrr-up
tree,router-rr,3,1,LEVEL,rrr-down,rrr-up
mcast,router-rr,3,0,rrr-h7s0
mcast,router-rr,3,0,rrr-h8s0
mcast,router-rr,3,1,rrr-h7s1
mcast,router-rr,3,1,rrr-h8s1
route,router-rr,4,0,rrr-down
route,router-rr,4,1,rrr-down
tree,router-rr,4,0,LEVEL,rrr-down,rrr-up
tree,router-rr,4,1,LEVEL,rrr-down,rrr-up
mcast,router-rr,4,0,rrr-h7s0
mcast,router-rr,4,0,rrr-h8s0
mcast,router-rr,4,1,rrr-h7s1
mcast,router-rr,4,1,rrr-h8s1
route,router-rr,5,0,rrr-down
route,router-rr,5,1,rrr-down
tree,router-rr,5,0,LEVEL,rrr-down,rrr-up
tree,router-rr,5,1,LEVEL,rrr-down,rrr-up
mcast,router-rr,5,0,rrr-h7s0
mcast,router-rr,5,0,rrr-h8s0
mcast,router-rr,5,1,rrr-h7s1
mcast,router-rr,5,1,rrr-h8s1
route,router-rr,6,0,rrr-h7s0
route,router-rr,6,1,rrr-h7s1
tree,router-rr,6,0,LEVEL,rrr-down,rrr-up
tree,router-rr,6,1,LEVEL,rrr-down,rrr-up
mcast,router-rr,6,0,rrr-h8s0
mcast,router-rr,6,1,rrr-h8s1
route,router-rr,7,0,rrr-h8s0
route,router-rr,7,1,rrr-h8s1
tree,router-rr,7,0,LEVEL,rrr-down,rrr-up
tree,router-rr,7,1,LEVEL,rrr-down,rrr-up
mcast,router-rr,7,0,rrr-h7s0
mcast,router-rr,7,1,rrr-h7s1
req,1,0,0,3,7,3,1
req,1,0,1,3,7,3,1
req,2,0,0,3,7,3,2
req,2,0,1,3,7,3,2
req,3,0,0,3,7,3,2
req,3,0,1,3,7,3,2
req,4,0,0,3,7,4,2
req,4,0,1,3,7,4,2
req,5,0,0,3,7,4,2
req,5,0,1,3,7,4,2
req,6,0,0,3,7,4,2
req,6,0,1,3,7,4,2
req,7,0,0,3,7,4,2
req,7,0,1,3,7,4,2
req,0,1,0,3,7,3,1
req,0,1,1,3,7,3,1
req,2,1,0,3,7,3,2
req,2,1,1,3,7,3,2
req,3,1,0,3,7,3,2
req,3,1,1,3,7,3,2
req,4,1,0,3,7,4,2
req,4,1,1,3,7,4,2
req,5,1,0,3,7,4,2
req,5,1,1,3,7,4,2
req,6,1,0,3,7,4,2
req,6,1,1,3,7,4,2
req,7,1,0,3,7,4,2
req,7,1,1,3,7,4,2
req,0,2,0,3,7,3,2
req,0,2,1,3,7,3,2
req,1,2,0,3,7,3,2
req,1,2,1,3,7,3,2
req,3,2,0,3,7,3,1
req,3,2,1,3,7,3,1
req,4,2,0,3,7,4,2
req,4,2,1,3,7,4,2
req,5,2,0,3,7,4,2
req,5,2,1,3,7,4,2
req,6,2,0,3,7,4,2
req,6,2,1,3,7,4,2
req,7,2,0,3,7,4,2
req,7,2,1,3,7,4,2
req,0,3,0,3,7,3,2
req,0,3,1,3,7,3,2
req,1,3,0,3,7,3,2
req,1,3,1,3,7,3,2
req,2,3,0,3,7,3,1
req,2,3,1,3,7,3,1
req,4,3,0,3,7,4,2
req,4,3,1,3,7,4,2
req,5,3,0,3,7,4,2
req,5,3,1,3,7,4,2
req,6,3,0,3,7,4,2
req,6,3,1,3,7,4,2
req,7,3,0,3,7,4,2
req,7,3,1,3,7,4,2
req,0,4,0,3,7,4,2
req,0,4,1,3,7,4,2
req,1,4,0,3,7,4,2
req,1,4,1,3,7,4,2
req,2,4,0,3,7,4,2
req,2,4,1,3,7,4,2
req,3,4,0,3,7,4,2
req,3,4,1,3,7,4,2
req,5,4,0,3,7,3,1
req,5,4,1,3,7,3,1
req,6,4,0,3,7,3,2
req,6,4,1,3,7,3,2
req,7,4,0,3,7,3,2
req,7,4,1,3,7,3,2
req,0,5,0,3,7,4,2
req,0,5,1,3,7,4,2
req,1,5,0,3,7,4,2
req,1,5,1,3,7,4,2
req,2,5,0,3,7,4,2
req,2,5,1,3,7,4,2
req,3,5,0,3,7,4,2
req,3,5,1,3,7,4,2
req,4,5,0,3,7,3,1
req,4,5,1,3,7,3,1
req,6,5,0,3,7,3,2
req,6,5,1,3,7,3,2
req,7,5,0,3,7,3,2
req,7,5,1,3,7,3,2
req,0,6,0,3,7,4,2
req,0,6,1,3,7,4,2
req,1,6,0,3,7,4,2
req,1,6,1,3,7,4,2
req,2,6,0,3,7,4,2
req,2,6,1,3,7,4,2
req,3,6,0,3,7,4,2
req,3,6,1,3,7,4,2
req,4,6,0,3,7,3,2
req,4,6,1,3,7,3,2
req,5,6,0,3,7,3,2
req,5,6,1,3,7,3,2
req,7,6,0,3,7,3,1
req,7,6,1,3,7,3,1
req,0,7,0,3,7,4,2
req,0,7,1,3,7,4,2
req,1,7,0,3,7,4,2
req,1,7,1,3,7,4,2
req,2,7,0,3,7,4,2
req,2,7,1,3,7,4,2
req,3,7,0,3,7,4,2
req,3,7,1,3,7,4,2
req,4,7,0,3,7,3,2
req,4,7,1,3,7,3,2
req,5,7,0,3,7,3,2
req,5,7,1,3,7,3,2
req,6,7,0,3,7,3,1
req,6,7,1,3,7,3,1
